<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.seljabali.templateapplication"
          android:hardwareAccelerated="true">

    <supports-screens
            android:anyDensity="true"
            android:largeScreens="true"
            android:normalScreens="true"
            android:resizeable="true"
            android:smallScreens="true"
            android:xlargeScreens="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name="com.seljabali.templateapplication.TemplateApplication"
            android:allowBackup="false"
            android:fullBackupContent="false"
            android:icon="@mipmap/ic_launcher"
            android:hardwareAccelerated="true"
            android:largeHeap="true"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Illini"
        >

        <activity android:name="com.seljabali.templateapplication.ui.HomeActivity"
                  android:theme="@style/Theme.Illini"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>